
@{
    ViewData["Title"] = "MyMeeting";
    Layout = "~/Views/Shared/_Layout_Visitor.cshtml";
}

<div class="container">
    <h2>MyMeeting</h2>
    <div class="dropdown show">
        <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Meetings <span class="badge badge-pill badge-dark">12</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Pending Meetings <span class="badge badge-pill badge-info">2</span></a>
            <a class="dropdown-item" href="#">Approved Meetings <span class="badge badge-pill badge-primary">4</span></a>
            <a class="dropdown-item" href="#">Declined Meetings <span class="badge badge-pill badge-danger">3</span></a>
            <a class="dropdown-item" href="#">Completed Meetings <span class="badge badge-pill badge-success">3</span></a>
        </div>
    </div>
</div>
