@model Appointly.Models.Users
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Register.css" />
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Sign in</h1>
        </div>

        <!-- Login Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <!-- Email Address -->
                    <div class="form-group input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input asp-for="Email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password -->
                    <div class="form-group input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input asp-for="Pwd" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="Pwd" class="text-danger"></span>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <input type="submit" value="Sign in" class="btn btn-primary btn-block font-weight-bold" />
                    </div>
                    <br />
                    <b id="getoff">@ViewBag.message</b>
                </div>
                <br />
                <!-- Already Registered -->
                <div class="text-center w-100">
                    <p class="text-muted font-weight-bold">Not Registered Yet? <a href="Register" class="text-primary ml-2">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    // For Demo Purpose [Changing input group text on focus]
    $(document).ready(() => {
        $('input, select').on('focus', function () {
            $(this).parent().find('.input-group-text').css('border-color', '#80bdff');
        });
        $('input, select').on('blur', function () {
            $(this).parent().find('.input-group-text').css('border-color', '#ced4da');
        });
        $("#getoff").css('color', 'red').css('text', 'muted').show().delay(5000).fadeOut();
    });
</script>

